<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-image">
      <div class="interview__carousel">
        <div class="interview__carousel-item">
          <img class="interview__carousel-image" src="../assets/images/giaodien/gioithieu1.jpg" alt="gioithieu1.jpg">
        </div>
      </div>
    </div>
    <div class="grid grid__col-right-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Người cung cấp những dòng đồng hồ cao cấp,
        sang trọng.
      </h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2"> Didier Finck (trái), giám đốc thiết kế, làm việc
        trong Tập đoàn Swatch từ năm 2012 đến năm 2020. Ông làm việc về thiết kế sản phẩm và truyền thông
        kỹ thuật số cho một số thương hiệu lớn của tập đoàn như Omega, Longines, Hamilton và Swatch. <br><br>
        Ludovic Zussa, chuyên gia vật lý về công nghệ laser và chuyên gia đổi mới các sản phẩm chế tác đồng hồ, phụ
        trách đổi mới công nghệ của Tập đoàn Swatch từ năm 2010 đến năm 2012.</p>
    </div>
  </div>
</div>
<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Cam kết của chúng tôi trong việc cung cấp sản phẩm
        đến tận
        tay khách
        hàng.</h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2">Nhập khẩu 100% từ nước ngoài và đưa ra một tỷ lệ
        giá hợp lý nhất để phù hợp với khách hàng. Bán hàng trực tuyến độc
        quyền, bằng cách loại bỏ chuỗi trung gian truyền thống lâu đời để tạo ra mối quan hệ không thể so sánh
        giữa những người làm dịch vụ như chúng tôi và khách hàng của mình.
        Đó là một cơ hội phi thường để có thể gặp gỡ những người cùng niềm đam mê đồng hồ.</p>
    </div>
    <div class="grid grid__col-right-image">
      <div class="interview__carousel">
        <div class="interview__carousel-item">
          <img class="interview__carousel-image" src="../assets/images/giaodien/gioithieu2.jpg" alt="gioithieu2.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
