<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Dành thời gian cảm
        nhận cuộc sống theo cách tuyệt với nhất
      </h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2">Cung cấp thông tin về thời gian và một
        chút điểm nhấn trong phong cách thời trang là chức
        năng cao quý nhất của một chiếc đồng hồ - đó là một thành kiến ​​mạnh mẽ của Apose. Nhiệm vụ duy nhất
        này xứng đáng với thiết kế tinh tế nhất và đó cũng là điều tiên quyết đầu tiên mà thương hiệu xây dựng.</p>
      <a class="grid__interview-link" data-scroll data-scroll-speed="2"
        href="http://localhost:4200/products/loaithuonghieu/Apose">
        Xem thêm chi tiết
      </a>
    </div>
    <div class="grid grid__col-right-image">
      <div class="interview__carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/apose1.jpg" alt="apose1.jpg">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/apose2.jpg" alt="pose2.jpg">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/apose3.jpg" alt="apose3.jpg">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<div class="container__interview-second" data-scroll-section>
  <p class="container__interview-subtitle" data-scroll data-scroll-speed="2">Phong
    cách</p>
  <h2 class="container__interview-heading" data-scroll data-scroll-speed="2">
    Logic thuần túy của việc tạo ra sự thanh lịch kiểu Pháp.
  </h2>
  <div class="container__interview-tranform" data-scroll data-scroll-speed="2">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao1.png" style="z-index: 8;"
      alt="apose-cautao1.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao2.png" style="z-index: 7;"
      alt="apose-cautao2.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao3.png" style="z-index: 6;"
      alt="apose-cautao3.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao4.png" style="z-index: 5;"
      alt="apose-cautao4.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao5.png" style="z-index: 4;"
      alt="apose-cautao5.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao6.png" style="z-index: 3;"
      alt="apose-cautao6.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao7.png" style="z-index: 2;"
      alt="apose-cautao7.png">
    <img class="image-transform" src="../assets/images/giaodien/apose-cautao8.png" style="z-index: 1;"
      alt="apose-cautao8.png">
  </div>
  <div class="container__interview-column" data-scroll data-scroll-speed="2">
    Có vẻ như bạn phải điên đầu khi chọn mua một chiếc đồng hồ cao cấp mà ở đó không những sử dụng bí quyết của các
    nhà sáng tạo danh
    tiếng nhất của Pháp mà phải còn đáp ứng rằng không có bất kỳ chi tiết dư thừa nào. Hãy đến với Apose - thương hiệu
    quyết giành lấy điều đó bằng tất cả khả năng để đáp ứng nhu cầu của khách hàng. Đồng hồ Apose được tạo ra với sự
    đầu tư và đóng góp
    của những người thợ giỏi nhất trong lĩnh vực này. May mắn lớn nhất của chúng tôi là được phục vụ và cung cấp cho
    bạn những sản phẩm cao cấp, sành điệu không thua kém gì các thương hiệu cao cấp lớn đứng đầu trên thế giới.
    Chúng tôi không ngừng gặp gỡ, thảo luận, đàm phán về việc phát triển các quy trình mới, khuyến khích sản xuất các
    công cụ mới: còn rất nhiều
    cơ hội tiềm năng trong tương lai để cải tiến đồng hồ hơn nữa theo phong cách tinh tế và lịch lãm của Pháp.
  </div>
  <a class="container__interview-link" data-scroll data-scroll-speed="2"
    href="http://localhost:4200/products/loaithuonghieu/Apose">
    Xem thêm chi tiết
  </a>
</div>
<div class="container__interview-brand" data-scroll-section>
  <h2 class="container__interview-heading">Thương hiệu HUBLOT</h2>
  <div class="interview__carousel-brand">
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/Hublot lễ hội">
      <img src="../assets/images/giaodien/hublot1.png" alt="hublot1.png">
      <p class="image__text">Lễ hội</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/Hublot Big Bang">
      <img src="../assets/images/giaodien/hublot2.png" alt="hublot2.png">
      <p class="image__text">Big Bang</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/Hublot cổ điển">
      <img src="../assets/images/giaodien/hublot3.png" alt="hublot3.png">
      <p class="image__text">Cổ điển</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/Hublot đặc biệt">
      <img src="../assets/images/giaodien/hublot4.png" alt="hublot4.png">
      <p class="image__text">Big Bang đặc biệt</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/Hublot MP">
      <img src="../assets/images/giaodien/hublot5.png" alt="hublot5.png">
      <p class="image__text">MP</p>
    </a>
  </div>
</div>
<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-image">
      <div class="interview__carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/hublot-giaodien.png"
                alt="hublot-giaodien.png">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/hublot-giaodien2.png"
                alt="hublot-giaodien2.png">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/hublot-giaodien3.png"
                alt="hublot-giaodien3.png">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="grid grid__col-right-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Chúng tôi thưởng thức chuyển động về thời gian với
        độ
        chính xác.</h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2"> Những chiếc đồng hồ đơn giản
        dưới tay nghề của các chế tác sáng tạo, HUBLOT đã tạo ra một loạt các bộ chuyển động “in-house” độc đáo. Nghệ
        thuật kết hợp hoàn hảo giữa chức năng, kiến trúc và thiết kế. Thương hiệu nắm rõ bản sắc này để tạo ra những
        chiếc đồng hồ kết hợp giữa truyền thống và đổi mới</p>
      <a class="grid__interview-link" data-scroll data-scroll-speed="2"
        href="http://localhost:4200/products/loaithuonghieu/Hublot">
        Xem thêm chi tiết
      </a>
    </div>
  </div>
</div>
<div class="container__interview-brand" data-scroll-section>
  <h2 class="container__interview-heading">Thương hiệu Richard Mille</h2>
  <div class="interview__carousel-brand">
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/RM 5X">
      <img src="../assets/images/giaodien/rm5X.png" alt="rm5X.png">
      <p class="image__text">RM 5X</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/RM 3X">
      <img src="../assets/images/giaodien/rm3X.png" alt="rm3X.png">
      <p class="image__text">RM 3X</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/RM 2X">
      <img src="../assets/images/giaodien/rm2X.png" alt="rm2X.png">
      <p class="image__text">RM 2X</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/RM 1X">
      <img src="../assets/images/giaodien/rm1X.png" alt="rm1X.png">
      <p class="image__text">RM 1X</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/RM 0X">
      <img src="../assets/images/giaodien/rm0X.png" alt="rm0X.png">
      <p class="image__text">RM 0X</p>
    </a>
  </div>
</div>
<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Khát vọng khám phá những điều
        chưa được biết đến.</h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2">Duy trì nhịp điệu, tạo ra một nhịp độ cá nhân đặc
        biệt, đó là Richard Mille, kỹ
        thuật chuyển động điêu luyện bậc nhất, tự tái tạo với mỗi sáng tạo mới, thực hiện vũ đạo của riêng mình và
        không bao giờ nhảy theo vũ đạo của người khác.</p>
      <a class="grid__interview-link" data-scroll data-scroll-speed="2"
        href="http://localhost:4200/products/loaithuonghieu/Richard Mille">
        Xem thêm chi tiết
      </a>
    </div>
    <div class="grid grid__col-right-image">
      <div class="interview__carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/rm-giaodien1.png"
                alt="rm-giaodien1.png">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/rm-giaodien2.png"
                alt="rm-giaodien2.png">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/rm-giaodien3.png"
                alt="rm-giaodien3.png">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<div class="container__interview-brand" data-scroll-section>
  <h2 class="container__interview-heading">Thương hiệu Jacob & Co</h2>
  <div class="interview__carousel-brand">
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/JC ASTRO">
      <img src="../assets/images/giaodien/jacobco1.png" alt="acobco1.png">
      <p class="image__text">ASTRONOMIA TOURBILLON</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/JC TURBO">
      <img src="../assets/images/giaodien/jacobco2.png" alt="acobco2.png">
      <p class="image__text">TWIN TURBO FURIOUS BAGUETTE</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/JC BUGATTI">
      <img src="../assets/images/giaodien/jacobco3.png" alt="acobco3.png">
      <p class="image__text">BUGATTI CHIRON TOURBILLON</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/JC SF24">
      <img src="../assets/images/giaodien/jacobco4.png" alt="acobco4.png">
      <p class="image__text">EPIC SF24 TOURBILLON BAGUETTE</p>
    </a>
    <a class="interview__carousel-image" href="http://localhost:4200/products/loaisanpham/JC PALA">
      <img src="../assets/images/giaodien/jacobco5.png" alt="acobco5.png">
      <p class="image__text">PALATIAL FIVE TIME ZONE</p>
    </a>
  </div>
</div>
<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-image">
      <div class="interview__carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/jacob-giaodien1.jpg"
                alt="jacob-giaodien1.jpg">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/jacob-giaodien2.jpg"
                alt="jacob-giaodien2.jpg">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="interview__carousel-item">
              <img class="interview__carousel-image" src="../assets/images/giaodien/jacob-giaodien3.jpg"
                alt="jacob-giaodien3.jpg">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="grid grid__col-right-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Động lực thúc đẩy của hãng Jacob & Co</h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2">Với bề rộng xây dựng đồng hồ của Jacob & Co, cho
        thấy khả năng của thương hiệu
        trong việc sản xuất những sản phẩm tuyệt vời mà thế giới chưa từng thấy trước đây. Những chiếc đồng hồ với độ
        phức tạp cao là minh
        chứng cho điều đó.</p>
      <a class="grid__interview-link" data-scroll data-scroll-speed="2"
        href="http://localhost:4200/products/loaithuonghieu/Jacob & Co">
        Xem thêm chi tiết
      </a>
    </div>
  </div>
</div>
