<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-image">
      <div class="interview__carousel">
        <div class="interview__carousel-item">
          <img class="interview__carousel-image" src="../assets/images/giaodien/hublot-giaodien.png"
            alt="hublot-giaodien.png">
        </div>
      </div>
    </div>
    <div class="grid grid__col-right-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Chính sách bảo hành sản phẩm theo quy định của
        chúng tôi.</h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2"> Bảo hành này không bao gồm những hao mòn bình
        thường của đồng hồ của bạn hoặc hư hỏng do sơ suất hoặc thiếu cẩn thận. <br> <br> Theo thông lệ, vòng đeo tay
        không được
        bảo hành. <br>
        <br> Xin lưu ý rằng các can thiệp (tháo rời, thay đổi bộ phận, sửa chữa) được thực hiện bên ngoài xưởng của
        chúng tôi sẽ làm mất hiệu lực bảo hành.
      </p>
    </div>
  </div>
</div>
<div class="container__interview" data-scroll-section>
  <div class="container__grid-col-2">
    <div class="grid grid__col-left-text">
      <h2 class="grid__col-heading" data-scroll data-scroll-speed="2">Hướng dẫn biện pháp phòng ngừa, bảo vệ đồng hồ của
        bạn.</h2>
      <p class="grid__col-paragraph" data-scroll data-scroll-speed="2">Hãy cẩn thận không để đồng hồ của bạn gặp:
        <br> Những cú sốc đáng kể. <br> Chất mài mòn trên bề mặt. <br> Áp lực lớn đè lên sản phẩm. <br> Để lâu trong môi
        trường
        ẩm ướt kéo dài. <br> Bức xạ biên độ cao hoặc từ trường. <br> <br> Nên thường xuyên: <br> Kiểm tra hoạt động của
        đồng hồ. <br> Liên hệ ngay với chúng tôi để được khắc phục sự cố.
      </p>
    </div>
    <div class="grid grid__col-right-image">
      <div class="interview__carousel">
        <div class="interview__carousel-item">
          <img class="interview__carousel-image" src="../assets/images/giaodien/rm-giaodien1.png"
            alt="rm-giaodien1.png">
        </div>
      </div>
    </div>
  </div>
</div>
