<div class="container__page-not-found" data-scroll-section>
  <div class="content__page-not-found">
    <h1 class="heading__page-not-found">404</h1>
    <h4 class="subheading__page-not-found">OPPS! PAGE NOT FOUND</h4>
    <p class="paragraph__page-not-found">Xin lỗi, địa chỉ bạn truy cập không tồn tại. Vui lòng kiểm tra lại đường dẫn.
      Xin cảm ơn!</p>
    <div class="account__group-button not-found-width">
      <a class="grid__interview-link" href="http://localhost:4200">
        Quay lại trang chủ
      </a>
      <a class="grid__interview-link" href="http://localhost:4200/products">
        Quay lại mua hàng
      </a>
    </div>
  </div>
</div>
